<!DOCTYPE html>
<html class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>{{title}}</title>
</head>

<body class="d-flex flex-column h-100">
  {{>header}}

  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row mt-3">
        <div class="col-xs-12 col-md-3">
          <h3>Profile</h3>
          <div class="card mr-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
              <a href="/logout" class="card-link btn btn-dark">Logout</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-8 flex-wrap d-flex flex-row">
          <form action="/post" method="POST">
          <h4>Create post</h4>
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" id="user_login" autocomplete="off" name="title">
            </div>
            <div class="form-group">
              <label>Author Name</label>
              <input type="text" class="form-control" id="user_pass" autocomplete="off" name="author">
            </div>
            <div class="form-group">
              <label>Content</label>
              <input type="text" class="form-control" id="user_pass" autocomplete="off" name="content">
            </div>
            <input type="submit" class="btn btn-primary" value="Post">
          </form>
        </div>
      </div>
    </div>
  </main>

  {{>footer}}

  {{>scripts}}
</body>

</html>