<footer class="footer bg-dark mt-auto py-3">
    <div class="container">
        <span class="text-muted">Copyright &copy; 2020 দ্বিমিক পাঠশালা</span><br>
        <span class="text-muted">Developer: Tahsin Al Mahi</span>
    </div>
</footer>